@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  color: white;
}

/* .satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  } */

body {
  background-color: black;
  margin: 0px;
}

main {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(#000000e2, #00000057), url(../img/bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

main div {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

main div h1 {
  font-family: "Satisfy", cursive;
  font-size: 200px;
  line-height: 0.6;
  margin: -10px 0px 70px 0;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  max-width: 700px;
}

.circle_date {
  position: absolute;
  right: 100px;
  bottom: 35%;
  border: 2px solid white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 100%;
  padding: 10px;
}

button {
  background-color: transparent;
  font-size: 25px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 30px;
}
